# Combining Data

First, install the required Python libraries if not done already. See
[Installing Required Python Libraries](../00_Installing_Required_Python_Libraries.md).

Begin by importing the required packages.

In [1]:
import pandas as pd

## Run the data access notebooks

In [2]:
%run '../03_01_Accessing_and_Exploring_Data/01_Accessing_and_Reading_Local_Files.ipynb'
%run '../03_01_Accessing_and_Exploring_Data/02_Accessing_and_Reading_Data_Lake_Files.ipynb'
%run '../03_01_Accessing_and_Exploring_Data/03_Accessing_and_Reading_Database-Data_Lakehouse_Data.ipynb'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customerSubscrCode  3 non-null      int64
 1   customerSubscrStat  3 non-null      object
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      5000 non-null   float64
 1   LostCustomer            5000 non-null   float64
 2   regionPctCustomers      5000 non-null   float64
 3   numOfTotalReturns       5000 non-null   float64
 4   wksSinceLastPurch       5000 non-null   float64
 5   basktPurchCount12Month  5000 non-null   float64
 6   LastPurchaseAmount      5000 non-null   float64
 7   AvgPurchaseAmount12     5000 non-null   float64
 8   AvgPurchaseAmountTotal  5000 non-null   float64
 9   intAdExposureCount12    5000 non-null   float64
 10  intAdExposureCount36    5000 non-null   float64
 11  intAdExposureCountAll   5000 non-null   float64
 12  socialMediaAdCount12    5000 non-null   float64
 13  socialMediaAdCount36    5000 non-null   float64
 14  socialMediaAdCountAll   5000 non-null   float64
 15  totalNumProdPurchased   5000 non-null   float64
 16  custInitiatedContacts   5000 non-null   float64
 17  avgDiscountValue12      3618 non-null   float64
 18  customersales           5000 non-null   float64
 19  wksSinceFirstPurch      5000 non-null   float64
 20  reviewId                782 non-null    float64
 21  custId                  5000 non-null   float64
dtypes: float64(22)
memory usage: 859.5 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   custId              4998 non-null   float64
 1   DemHomeOwnerCode    4998 non-null   object
 2   customerGender      4998 non-null   object
 3   EstimatedIncome     4998 non-null   float64
 4   regionMedHomeVal    4998 non-null   float64
 5   customerSubscrCode  4998 non-null   float64
 6   birthDate           3741 non-null   datetime64[s]
dtypes: datetime64[s](1), float64(4), object(2)
memory usage: 273.5+ KB

## Joining the Data

In [3]:
df = pd.merge(cust_churn_df, customers_df, on='custId', how='inner').drop(columns='custId')

df = df.merge(subscriptions_df, on='customerSubscrCode', how='inner').drop(columns='customerSubscrCode')

df = df.merge(techsupportevals_df, on='ID', how='inner')

df = df.merge(reviews_df, on='reviewId', how='left').drop(columns='reviewId')

df.head()

,ID,LostCustomer,regionPctCustomers,numOfTotalReturns,wksSinceLastPurch,basktPurchCount12Month,LastPurchaseAmount,AvgPurchaseAmount12,AvgPurchaseAmountTotal,intAdExposureCount12,...,wksSinceFirstPurch,DemHomeOwnerCode,customerGender,EstimatedIncome,regionMedHomeVal,birthDate,customerSubscrStat,techSupportEval,Review_Text,Title
0,9155.0,0.0,43.0,0.0,14.0,10.0,50.0,0.0,55.65,27.0,...,89.0,U,F,93000.0,59280.0,2004-11-13,Platinum,3.0,NaN,NaN
1,9160.0,0.0,19.0,1.0,19.0,3.0,50.0,62.5,61.90,13.0,...,89.0,H,M,84000.0,170820.0,1974-03-14,Platinum,3.0,NaN,NaN
2,9163.0,0.0,19.0,0.0,7.0,10.0,50.0,0.0,35.20,32.0,...,148.0,H,F,140000.0,92430.0,2006-02-22,Platinum,2.0,NaN,NaN
3,9170.0,0.0,33.0,5.0,7.0,2.0,50.0,40.0,34.75,31.0,...,93.0,U,F,142000.0,53430.0,2006-04-19,Platinum,2.0,NaN,NaN
4,9175.0,0.0,22.0,0.0,6.0,10.0,50.0,0.0,62.95,40.0,...,137.0,H,F,83000.0,443690.0,2002-02-23,Platinum,2.0,NaN,NaN