# Accessing and Reading Data Lake Files

**Alternative code to skip Google Cloud Storage requirement.**

Use the demo notebook (**02_zDEMO_Accessing_and_Reading_Data_Lake_Files.ipynb**) if you want to see how this is done with Google Cloud Storage.

First, install the required Python libraries if not done already. See
[Installing Required Python Libraries](../00_Installing_Required_Python_Libraries.md).

If you're new to Python, you might be interested in [Introduction to Python Lists and Dictionaries for Data Science](../01_Introduction_to_Python_Data_Types.md).

Begin by importing pandas.

In [1]:
import pandas as pd

Read the Parquet file from the file path.

In [2]:
cust_churn_df = pd.read_parquet("../../data/input/gcs/customer_churn_data.parquet")

cust_churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      5000 non-null   float64
 1   LostCustomer            5000 non-null   float64
 2   regionPctCustomers      5000 non-null   float64
 3   numOfTotalReturns       5000 non-null   float64
 4   wksSinceLastPurch       5000 non-null   float64
 5   basktPurchCount12Month  5000 non-null   float64
 6   LastPurchaseAmount      5000 non-null   float64
 7   AvgPurchaseAmount12     5000 non-null   float64
 8   AvgPurchaseAmountTotal  5000 non-null   float64
 9   intAdExposureCount12    5000 non-null   float64
 10  intAdExposureCount36    5000 non-null   float64
 11  intAdExposureCountAll   5000 non-null   float64
 12  socialMediaAdCount12    5000 non-null   float64
 13  socialMediaAdCount36    5000 non-null   float64
 14  socialMediaAdCountAll   5000 non-null   float64
 15  totalNumProdPurchased   5000 non-null   float64
 16  custInitiatedContacts   5000 non-null   float64
 17  avgDiscountValue12      3618 non-null   float64
 18  customersales           5000 non-null   float64
 19  wksSinceFirstPurch      5000 non-null   float64
 20  reviewId                782 non-null    float64
 21  custId                  5000 non-null   float64
dtypes: float64(22)
memory usage: 859.5 KB

In [3]:
cust_churn_df.head()

,ID,LostCustomer,regionPctCustomers,numOfTotalReturns,wksSinceLastPurch,basktPurchCount12Month,LastPurchaseAmount,AvgPurchaseAmount12,AvgPurchaseAmountTotal,intAdExposureCount12,...,socialMediaAdCount12,socialMediaAdCount36,socialMediaAdCountAll,totalNumProdPurchased,custInitiatedContacts,avgDiscountValue12,customersales,wksSinceFirstPurch,reviewId,custId
0,9155.0,0.0,43.0,0.0,14.0,10.0,50.0,0.0,55.65,27.0,...,3.0,3.0,10.0,8.0,1.0,NaN,355.08,89.0,NaN,3423.0
1,9160.0,0.0,19.0,1.0,19.0,3.0,50.0,62.5,61.90,13.0,...,6.0,14.0,20.0,8.0,2.0,15.0,546.14,89.0,NaN,2097.0
2,9163.0,0.0,19.0,0.0,7.0,10.0,50.0,0.0,35.20,32.0,...,4.0,4.0,28.0,25.0,3.0,NaN,355.03,148.0,NaN,1257.0
3,9170.0,0.0,33.0,5.0,7.0,2.0,50.0,40.0,34.75,31.0,...,4.0,14.0,20.0,22.0,3.0,8.0,316.33,93.0,NaN,3797.0
4,9175.0,0.0,22.0,0.0,6.0,10.0,50.0,0.0,62.95,40.0,...,8.0,8.0,27.0,27.0,3.0,NaN,343.20,137.0,NaN,689.0