# Accessing and Reading Database/Data Lakehouse Data

**Snowflake demonstration only.**

Use the alternative notebook (**03_Accessing_and_Reading_Database-Data_Lakehouse_Data.ipynb**) if you want to run the code in your environment.

First, install the required Python libraries if not done already. See
[Installing Required Python Libraries](../00_Installing_Required_Python_Libraries.md).

If you're new to Python, you might be interested in [Introduction to Python Lists and Dictionaries for Data Science](../01_Introduction_to_Python_Data_Types.md).

Begin by importing the required packages.

In [10]:
import pandas as pd

import snowflake as sf
import snowflake.connector
import json

#### Initialize Database connection variables

Credentials are stored in the snowflake_cred.json file and need to be accessed. Hard coding credentials should always be avoided.

A Snowflake credentials file can look like this:

```json
{
    "account": "<account>>",
    "user": "<user>",
    "password": "<password>",
    "database": "<database>",
    "warehouse": "<warehouse>",
    "schema": "<schema>"
}
```

In [11]:
sf_credential = '../../keys/snowflake_cred.json'

with open(sf_credential, "r") as f:
    sf_credentials_dict = json.load(f)

#### Connection to Snowflake  Database

We open the connection by calling sf.connector.connect() with the parameters set to our credentials.

In [12]:
conn = sf.connector.connect(**sf_credentials_dict)

Create a cursor object from the connection to execute queries:

In [13]:
cursor = conn.cursor()

cursor

### Read data from Snowflake database table.

Execute Snowflake queries with the .execute() method.

NB: The table name will always be capitalized in a Snowflake query unless you encapsulate it in quotes!

In [14]:
customers_df = cursor.execute('select * from "customers"').fetch_pandas_all()

customers_df

,custId,DemHomeOwnerCode,customerGender,EstimatedIncome,regionMedHomeVal,customerSubscrCode,birthDate
0,1.0,H,F,3000.0,96980.0,3.0,1989-03-19
1,1000.0,H,F,105000.0,316420.0,3.0,1994-11-07
2,999.0,H,F,105000.0,296920.0,3.0,None
3,998.0,H,F,105000.0,203320.0,3.0,1996-05-04
4,997.0,H,F,105000.0,153400.0,3.0,1988-11-05
...,...,...,...,...,...,...,...
4993,4006.0,U,M,43000.0,53690.0,2.0,1992-07-10
4994,4005.0,U,M,43000.0,49530.0,2.0,None
4995,4004.0,U,M,43000.0,48360.0,2.0,None
4996,4003.0,U,M,43000.0,39910.0,2.0,None
4997,4002.0,U,M,43000.0,34580.0,2.0,2002-11-27

Always close the connection when finished!

In [15]:
conn.close()